<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href='../static/style.css'>
    </head>
    <body>    
        <center>
            <div class="body">
                <img src="../static/cat_and_dog.jpg" alt="img_cate,dog">

                <div class="title_card">
                    <h2 class="heading_title"><span class="title">DEEP LEARNING PROJECT</span><br><span class="half_title">CAT OR DOG RECOGNIZER</span></h2>
                    <form method="POST" action="{{url_for('home')}}" enctype="multipart/form-data">
                        <input type="file" name='image' class="file">
                        <br> <br>
                        <input type="submit" class="btn">
                    </form>
                </div>

                <!-- <div class="teams">
                    <h5>Team members</h5>
                    <p><a href="">mohamed</a></p>
                    <p><a href="">mohamed</a></p>
                    <p><a href="">mohamed</a></p>
                    <p><a href="">mohamed</a></p>
                    <p><a href="">mohamed</p>
                </div> -->
            </div>

        </center>

    </body>
</html>